@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Medium.eot');
    src: url('/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Avenir LT Std', Arial, sans-serif;
}

.t-intro {
    font-size: 13px;
    line-height: 1.4;
    color: $c-white;
}

.t-select {
    font-size: 15px;
    color: $c-black;
}

.t-select-date {
    font-size: 13px;
    color: $c-black;
}

.t-search-btn {
    font-size: 17px;
    color: $c-black;
}

.t-flights-header {
    font-size: 17px;
    color: $c-white;
}

.t-flights-loading {
    font-size: 12px;
    color: $c-white;
}