@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Medium.eot');
    src: url('/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Avenir LT Std', Arial, sans-serif;
}

.t-select {
    color: #000;
    font-size: 15px;
}

.t-search-btn {
    color: #000;
    font-size: 17px;
}

.t-flights-header {
    color: #000;
    font-size: 17px;
}

.t-flights-loading {
    font-size: 12px;
}