body {
    margin: 0px;
    padding: 0px;
    background-color: #b1b1b1;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 500px;
    height: auto; 
}

$c-white = #FFF;
$c-box-grey = #C3BFBF;

@require('_resets');
@require('_typography');
@require('components/*');
@require('mixins/*');
